
@{
    ViewBag.Title = "FleetManagerFleetVehicleBookingReportList";
    Layout = "~/Areas/Employee/Views/Shared/MasterLayout.cshtml";
}

@model List<DTO.FleetVehicleBookingReportDTO>
<section class="content-header">
    <h1>Vehicle Booking Report List</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Fleet Management</a></li>
        <li class="breadcrumb-item"><a>Vehicle</a></li>
        <li class="breadcrumb-item active"><a>Vehicle Booking Report List</a></li>
    </ol>

</section>
<br />
@*<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Employee/FleetVehicleBooking/AddFleetVehicleBooking'">Create New Vehicle Booking Report</button>
</div>*@

<div class="card">
    <div class="card-header">
        <h3 class="card-title">List of Vehicle Booking Reports</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>Driver Name</th>
                    <th>Dispact Date</th>
                    <th>Return Date</th>
                    <th>Dispatch Time</th>
                    <th>Return Time</th>
                    <th>Report Details</th>
                    <th>Report Status</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="a_@item.ID">
                        <td>@item.BookingID</td>
                        <td>@item.DriverName</td>
                        <td>@item.DispatchDate</td>
                        <td>@item.ReturnDate</td>
                        <td>@item.DispacthTime</td>
                        <td>@item.ReturnTime</td>
                        <td>@(item.ReportDetails.Substring(0,50)) + "..." </td>
                        <td>
                            string shortText = fullText.Substring(0, maxLength) + "...";
                            <span>
                                @if (item.FleetManagerApprovalID == 1)
                                {
                                    <span><label>Approved</label></span>
                                }@if (item.FleetManagerApprovalID == 2)
                                {
                                    <span><label>Rejected</label></span>
                                }@if (item.FleetManagerApprovalID == 3)
                                {
                                    <span><label>Return for Update</label></span>
                                }@if (item.FleetManagerApprovalID <= 0)
                                {
                                    <span><label>Pending</label></span>
                                }
                            </span>
                        </td>
                        <td align="center">
                            <a href="/Employee/FleetVehicleBookingReport/UpdateFleetVehicleBookingReport/@item.ID">
                                <img width="20" height="20" src="~/Areas/Employee/Content/icons/update.ico" />
                            </a>
                            <span>|</span>
                            <a href="#">
                                <img width="20" height="20" src="~/Areas/Employee/Content/icons/delete.ico" onclick="AskQuestion('/Employee/FleetVehicleBookingReport/DeleteFleetVehicleBookingReport/',@item.ID)" />
                            </a>
                        </td>

                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <th>Booking ID</th>
                    <th>Dispact Date</th>
                    <th>Return Date</th>
                    <th>Dispatch Time</th>
                    <th>Return Time</th>
                    <th>Report Details</th>
                    <th>Report Status</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Employee/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>
<script src="~/Areas/Employee/Content/JS/DeleteRecord.js"></script>

