
@{
    ViewBag.Title = "FleetVehicleCard";
    Layout = "~/Areas/Employee/Views/Shared/MasterLayout.cshtml";
}


@model DTO.FleetVehicleDTO
<div class="box-body">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Basic Information</h3>
            </div>
            <div class="card-body">
                <input hidden type="number" value="@Model.ID" name="ID" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Vehicle Code</label>
                            @Html.TextBoxFor(x => x.VehicleCode, new { @class = "form-control"})
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>VIN</label>
                            @Html.TextBoxFor(x => x.VIN, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Mileage</label>
                            @Html.TextBoxFor(x => x.Mileage, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Vehicle Make</label>
                            @Html.TextBoxFor(x => x.Make, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Model</label>
                            @Html.TextBoxFor(x => x.Model, new { @class = "form-control"})
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Vehicle Type</label>
                            @Html.TextBoxFor(x => x.TypeName, new { @class = "form-control"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Color</label>
                            @Html.TextBoxFor(x => x.Color, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Production Year</label>
                            @Html.TextBoxFor(x => x.Year, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Received Condition</label>
                            @Html.TextBoxFor(x => x.ReceivedConditionName, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fuel Tank Type</label>
                            @Html.TextBoxFor(x => x.FuelTankType, new { @class = "form-control"})
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fuel Tank Size</label>
                            @Html.TextBoxFor(x => x.FuelTankSize, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Size Unit</label>
                            @Html.TextBoxFor(x => x.UnitName, new { @class = "form-control"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Vehicle Status</label>
                            @Html.TextBoxFor(x => x.VehicleStatusName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Registration Status</label>
                            @Html.TextBoxFor(x => x.RegistrationStatusName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Received Date</label>
                            @Html.TextBoxFor(x => x.ReceivedDate.ToString("d"), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





