@model DTO.UserDTO
<div class="box-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Employee</label>
                @Html.TextBoxFor(x => x.EmployeesName, new { @class = "form-control", @placeholder = "Enter Username (e.g. jdoe)", @readonly = "readonly" })
                @Html.ValidationMessageFor(x => x.EmployeesName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Username</label>
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "Enter Username (e.g. jdoe)", @readonly = "readonly" })
                @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Phone</label>
                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @placeholder = "Enter Phone Number", @readonly = "readonly" })
                @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Email</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Enter Email ID", @readonly = "readonly" })
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <input hidden type="number" value="@Model.ID" name="ID" />
    <div class="card-footer">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-block btn-primary">Reset Password</button>
            </div>
            <div class="col-md-4">

            </div>
        </div>

    </div>
</div>





