

@model List<DTO.EmployeeEducationDTO>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">List of Education Credentials</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>School Name</th>
                    <th>Address/Location</th>
                    <th>Degree Title</th>
                    <th>Degree Type</th>
                    <th>Start - End Dates</th>
                    <th>Has Completed?</th>
                    <th>Document</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="a_@item.ID">
                        <td>@item.SchoolName</td>
                        <td>@item.SchoolAddress, @item.SchoolCountry</td>
                        <td>@item.DegreeTitle</td>
                        <td>@item.DegreeTypeName</td>
                        <td>@item.StartDate.ToString("dd.MM.yyyy") - @item.EndDate.ToString("dd.MM.yyyy")</td>
                        <td>@item.hasCompleted</td>
                        <td><a href="~/Areas/Employee/Content/Employees/EducationFiles/@item.DocumentPath" target="_blank" id="DocumentFile" value=""><span>@item.DocumentPath</span></a></td>
                        <td align="center">
                            <a href="/Employee/Employee/UpdateEmployee/@item.ID">
                                <img width="20" height="20" src="~/Areas/Employee/Content/icons/update.ico" />
                            </a>
                            <span>|</span>
                            <a href="#">
                                <img width="20" height="20" src="~/Areas/Employee/Content/icons/update.ico" onclick="setData(@item.ID)" />
                            </a>
                            <span>|</span>
                            <a href="#">
                                <img width="20" height="20" src="~/Areas/Employee/Content/icons/delete.ico" onclick="AskQuestion('/Employee/Employee/DeleteEmployee/',@item.ID)" />
                            </a>
                        </td>

                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <th>School Name</th>
                    <th>Address/Location</th>
                    <th>Degree Title</th>
                    <th>Degree Type</th>
                    <th>Start - End Dates</th>
                    <th>Has Completed?</th>
                    <th>Document</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Employee/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>



