
@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Areas/Employee/Views/Shared/MasterLayout.cshtml";
}

@model List<DTO.EmployeeDTO>
<section class="content-header">
    <h1>Employee List</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Employee</a></li>
        <li class="breadcrumb-item active"><a>Employee List</a></li>
    </ol>

</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Employee/Employee/AddEmployee'">Add Employee</button>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">List of Employees</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone #</th>
                    <th>Gender</th>
                    <th>Position</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr id="a_@item.ID">
                    <td>@item.FName</td>
                    <td>@item.LName</td>
                    <td>@item.Email</td>
                    <td>@item.Phone1</td>
                    <td>@item.GenderName</td>
                    <td>@item.PositionName</td>
                    <td>@item.StatusName</td>
                    <td align="center">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-ellipsis-v" id="ellipses"></i></a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li>
                                <a href="/Employee/Employee/ViewEmployeeCard/@item.ID" style="color:black">
                                    <span>
                                        &nbsp;&nbsp;&nbsp;
                                        <i class="fas fa-id-card" style="color:blue"></i>
                                        &nbsp;&nbsp;&nbsp;
                                    </span>
                                    View
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a href="#" onclick="setttData(@item.ID)" style="color:black">
                                    <span>
                                        &nbsp;&nbsp;&nbsp;
                                        <i class="fas fa-book-open" style="color:blue"></i>
                                        &nbsp;&nbsp;&nbsp;
                                    </span>
                                    Education
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a href="#" onclick="setWorkData(@item.ID)" style="color:black">
                                    <span>&nbsp;&nbsp;&nbsp;<i class="fas fa-briefcase" style="color:blue"></i>&nbsp;&nbsp;&nbsp;</span>
                                    Work
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a href="#" onclick="depttData(@item.ID)" style="color:black">
                                    <span>&nbsp;&nbsp;&nbsp;<i class="fas fa-building" style="color:blue"></i>&nbsp;&nbsp;&nbsp;</span>
                                    Department
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a href="#" onclick="setSalaryData(@item.ID)" style="color:black">
                                    <span>&nbsp;&nbsp;&nbsp;<i class="fas fa-money-bill-wave" style="color:blue"></i>&nbsp;&nbsp;&nbsp;</span>
                                    Salary
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a href="#" onclick="setDependantsData(@item.ID)" style="color:black">
                                    <span>&nbsp;&nbsp;&nbsp;<i class="fas fa-user-alt" style="color:blue"></i>&nbsp;&nbsp;&nbsp;</span>
                                    Dependant
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a href="/Employee/Employee/UpdateEmployee/@item.ID" style="color:black">
                                    <span>&nbsp;&nbsp;&nbsp;<i class="fas fa-edit" style="color:blue"></i>&nbsp;&nbsp;&nbsp;</span>
                                    Edit
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a href="#" onclick="AskQuestion('/Employee/Employee/DeleteEmployee/',@item.ID)" style="color:black">
                                    <span>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color:red"></i>&nbsp;&nbsp;&nbsp;</span>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone #</th>
                    <th>Gender</th>
                    <th>Position</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Employee/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>
<script src="~/Areas/Employee/Content/JS/DeleteRecord.js"></script>
<script src="~/Areas/Employee/Content/JS/PassData.js"></script>
