

@model DTO.ItemRequisitionDTO
<div class="box-body">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Process Request </h3>
            </div>
            <div class="card-body">
                <input hidden type="number" value="@Model.ID" name="ID" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Approval Action</label>
                            @Html.DropDownList("ProcurementManagerApprovalID", Model.ProcrementManagerApprovalStatuses, "Select Action to Perform", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ProcurementManagerApprovalID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>Action Message/Reason</label>
                            @Html.TextAreaFor(x => x.ProcurementManagerApprovalMessage, new { @class = "form-control", @placeholder = "Enter Reason for Action from above" })
                            @Html.ValidationMessageFor(x => x.ProcurementManagerApprovalMessage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

